<div class="hero" >
  <form #myForm="ngForm" (ngSubmit)="addStudent()">
    <div class="mb-3-main">
      <h2>Student Report Card</h2>
    </div>
    <div class="mb-3">
      <label for="Inputname" class="form-label">Full name</label>
      <input id="normal" type="text" class="form-control"  aria-describedby="emailHelp" name="fullname" [(ngModel)]="_student.fullname">
   </div>
      <div class="mb-3" >
 <label for="Inputrollno" class="form-label">Roll No</label>
      <input id="normal" type="text" class="form-control"  aria-describedby="emailHelp" name="rollno" [(ngModel)]="_student.rollno">
      </div>
    <div class="mb-3" >
      <label for="Inputemail1" class="form-label"> address</label>
      <input id="normal" type="text" class="form-control"  aria-describedby="emailHelp" name="address" [(ngModel)]="_student.address">
   </div>
   <div class="mb-3" >
   <div class="dropdown1">
    <label for="cars">Choose a Subject:</label>
    <select class="dropdown2" id="subject" name="subject" [(ngModel)]="_student.subject" >
      <option value="Maths" >Maths</option>
      <option value="Physics" >Physics</option>
      <option value="Chemistry" >Chemistry</option>
      <option value="Biology" >Biology</option>
    </select>
  </div>


</div>
<div class="mb-3" >
<label for="Inputrollno" class="form-label">Assignments completed</label>
<div class="mb-3" *ngFor="let item of _assignmentlist">
  <label class="container">{{item.name}}
    <input type="checkbox"  name="{{item.name}}" [(ngModel)]="item.isselected" (change)="onchange()">
    <span class="checkmark"></span>
  </label>
  
</div>
</div>

    <div class="mb-3">
     
      <label for="Inputpassword" class="form-label">Marks</label>
      <input id="normal" type="number" class="form-control" name="marks" [(ngModel)]="_student.marks">
    </div>
    
    <button type="submit" class="btn btn-primary" value="submit" *ngIf= "!isEdit" >Submit</button>
    <button type="button" class="btn btn-info" (click)="updateStudent()"  *ngIf= "isEdit">Update</button>
  </form>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Full Name</th>
        <th scope="col">Roll no</th>
        <th scope="col">Address</th>
        <th scope="col">Subject</th>
        <th scope="col">Assignments</th>
        <th scope="col">Marks</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of allStudent">
      <td>{{item.id}}</td>
      <td>{{item.fullname}}</td>
      <td>{{item.rollno}}</td>
      <td>{{item.address}}</td>
      <td>{{item.subject}}</td>
      <td>{{item.assignmentname}}</td>
      <td>{{item.marks}}</td>
      
      <td><button class="btn btn-warning" (click)="editStudent(item) ">Edit</button></td>
      <td><button class="btn btn-danger" (click)="deleteStudent(item)">Delete</button></td>
    </tr>
    </tbody>
  </table>
  
</div>