.hero{
    width:80%;
margin: auto;
padding: 10px;
}
.dropdown2 {
    width: 100%;
    
    padding: 10px;
    background-color: white;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0.2, 0.3);
    font-family: 'Lato', sans-serif;
    border-color: rgb(78, 136, 170);
    border-radius: 10px;
    
}

#normal{
    width: 100%;
    
    padding: 10px;
    background-color: white;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0.2, 0.3);
    font-family: 'Lato', sans-serif;
    border-color: rgb(78, 136, 170);
    border-radius: 10px;
}


.table{
    width: 100%;
    margin: 0 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Lato', sans-serif;
    border-color: rgb(8, 149, 79);
    border-radius: 10px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .mb-3-main{
      text-align: center;
  }

  label{
      
     font-weight: bold;
  }